/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  font-family: "Lato", sans-serif;
}

aside {
  display: grid;
  flex-direction: column;
}

.active {
  color: purple;
}
dialog {
  margin: auto;
  border-radius: 10px;
  border-color:rgba(225, 215, 250, 0.925);
}
dialog>label {
  display: block;
  margin-top:20px;
}
form{
  display:flex;
  flex-direction: column;
  width:30vw;
  gap:1vh;
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.projects{
  display: flex;
  flex-direction: column;
  >button{
    background: none;
    border:none;
    text-align: left;
    padding-left:10px;
    margin:7px 10px;
    border-radius:5px;
  }
  >button:hover{
    opacity: 0.7;
    background-color: #d8d8d857;
  }
}
.projectTab{
  flex-direction: row;
}
.project-form{
  width:30vw;
}
.radio{
  margin-left:20px;
}
.formBtn{
  display:flex;
  justify-content: space-between;
  padding-top:20px;
}
.sidebar {
  width: 280px;
  transition: 0.3s ease;
  background-color:#f5f5f5;
  height:100vh;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.userInfo > h1, .projects>h1 {
  font-weight: 100;
  font-size: 1.5em;
  text-wrap:nowrap;
}
aside{
  padding-left:10px;
  background-color:#f5f5f5;

}
.sidebarBtn {
  background: none;
  
  border: none;
  margin-top:10px;
  > svg {
    width: 40px;
    height: 40px;
  }
}
.sidebarBtn:hover {
  opacity: 0.7;
  background-color: rgb(189, 201, 216);
  border-radius: 10px;
}
[data-collapse="true"] {
  width: 0;
  overflow: hidden;
}
main{
  margin:20px;  
  flex:1;
}
.content{
  display:grid;
}

[data-priority="high"]{
  box-shadow: 10px 5px  red; 
}
[data-priority="normal"]{
  box-shadow: 10px 5px rgba(8, 184, 117, 0.377); 
}
[data-priority="low"]{
  box-shadow: 10px 5px green; 
}
.task{
  border:black solid 1px;
  padding:3ch 2em;
  display:flex;
  width:50vw;
  justify-content: space-between;
  align-items: center;
}
.content{
  display:grid;
  gap:20px;
  justify-content: center;
}
.projectTab{
  height:1.5em;
  display:grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding-left:10px;
  margin:7px 10px;
  >button{
    border:none;
    background:none;
    height:1.5em;
    >img{
      display:block;
      height: 100%;
    }
  }
  button:hover{
    opacity: 0.7;
    background-color: #d8d8d857;
  }
}
.customProjectBtn{
  text-align: start;
}